{% extends "auctions/layout.html" %}

{% block body %}
    <h2>make new listing</h2>

    <form action="{% url 'makeListing' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input name="title" type="text" class="form-control" id="title" placeholder="Enter Your Title">
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input name="image" type="url" class="form-control" id="image" placeholder="Enter Your Image URL">
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <input name="description" type="text" class="form-control" id="description" placeholder="Enter Your Description">
        </div>
        <div class="form-group">
            <label for="price">Price $</label>
            <input name="price" type="number" class="form-control" id="price" placeholder="Enter Your Price" min="0">
        </div>
        <label for="category">Choose a category:</label>

        <select name="category" id="category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <button type="submit" class="btn btn-success">Make New Listing</button>

    </form>

{% endblock %}